.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.navBar:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  z-index: 99;
}
.section__pKg6C {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 128px;
  background: linear-gradient(#ffffffcc, #ffffffcc),
    url("/plasmic/commerce_landing_page/images/hero.png") top 50% left 50% / cover repeat;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__pKg6C {
    padding-bottom: 0px;
  }
}
.container3 {
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.container3 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.container3 > :global(.__wab_flex-container) > *,
.container3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container3 > :global(.__wab_flex-container) > picture > img,
.container3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 32px;
}
.freeBox__m76WD {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__m76WD > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__m76WD > :global(.__wab_flex-container) > *,
.freeBox__m76WD > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__m76WD > :global(.__wab_flex-container) > picture > img,
.freeBox__m76WD
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__xon4J {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__xon4J > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__xon4J > :global(.__wab_flex-container) > *,
.freeBox__xon4J > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xon4J > :global(.__wab_flex-container) > picture > img,
.freeBox__xon4J
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.h1 {
  font-family: "Poppins", sans-serif;
  font-size: 64px;
  font-weight: 800;
  line-height: 1.25;
  position: relative;
  text-align: center;
}
.text__agpzh {
  width: 100%;
  height: auto;
  text-align: center;
  color: var(--token-ZVaCoZaBifVb);
  min-width: 0;
}
.button___0GyFa:global(.__wab_instance) {
  position: relative;
}
.svg__uAxP8 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__sywfT {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.section__lymuZ {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f2f2f7;
  padding: 32px;
}
.container4 {
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
  padding: 0px 32px;
}
.freeBox__p9Oip {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.text__gm6Qk {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  position: relative;
  left: auto;
  top: auto;
  height: auto;
}
.button__t67UZ:global(.__wab_instance) {
  position: relative;
}
.svg__xwUwG {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___4Bjw {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.container {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.container > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.container > :global(.__wab_flex-container) > *,
.container > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container > :global(.__wab_flex-container) > picture > img,
.container
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
  margin-top: 32px;
}
.productCard__wzoQm:global(.__wab_instance) {
  position: relative;
}
.svg__kEyLk {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___7PBt {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__fwcGl {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
  height: auto;
}
.text___8Pjje {
  width: 100%;
  height: auto;
  text-align: left;
  color: var(--token-IoA6-K9UXD1X);
  min-width: 0;
}
.rating___1Bhx3:global(.__wab_instance) {
  position: relative;
}
.productCard__yrO:global(.__wab_instance) {
  position: relative;
}
.svg__qLvpe {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__w8Tha {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__bfmYs {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text___7Qugj {
  width: 100%;
  height: auto;
  color: var(--token-IoA6-K9UXD1X);
  text-align: left;
  min-width: 0;
}
.rating__q40J0:global(.__wab_instance) {
  position: relative;
}
.productCard__f4XOx:global(.__wab_instance) {
  position: relative;
}
.svg__vaquw {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__wrvIl {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text___4UfDk {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__afh5U {
  width: 100%;
  height: auto;
  color: var(--token-IoA6-K9UXD1X);
  text-align: left;
  min-width: 0;
}
.rating___1Ywmo:global(.__wab_instance) {
  position: relative;
}
.productCard___4AihY:global(.__wab_instance) {
  position: relative;
}
.svg__jIlqD {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__a93H {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__cFLfc {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__rBim {
  width: 100%;
  height: auto;
  color: var(--token-IoA6-K9UXD1X);
  text-align: left;
  min-width: 0;
}
.rating__dFtTd:global(.__wab_instance) {
  position: relative;
}
.productCard__eDmpw:global(.__wab_instance) {
  position: relative;
}
.svg___7U905 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__gpTCv {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text___457Ug {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__tpQaQ {
  width: 100%;
  height: auto;
  color: var(--token-IoA6-K9UXD1X);
  text-align: left;
  min-width: 0;
}
.rating__emEv0:global(.__wab_instance) {
  position: relative;
}
.productCard___8U7Qq:global(.__wab_instance) {
  position: relative;
}
.svg___6IWtP {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ir0Ym {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__pkPje {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__ri7Dp {
  width: 100%;
  height: auto;
  text-align: left;
  color: var(--token-IoA6-K9UXD1X);
  min-width: 0;
}
.rating__sFtQw:global(.__wab_instance) {
  position: relative;
}
.section__uOiN9 {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: linear-gradient(#000000d9, #000000d9),
    url("https://images.unsplash.com/photo-1612902376491-7a8a99b424e8?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTZ8fHNob2VzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=60")
      left 50% top 50% / cover;
}
.freeBox___7Ukin {
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 64px;
}
.freeBox___7Ukin > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox___7Ukin > :global(.__wab_flex-container) > *,
.freeBox___7Ukin > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___7Ukin > :global(.__wab_flex-container) > picture > img,
.freeBox___7Ukin
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___7Ukin {
    display: flex;
    flex-direction: column;
    padding-top: 64px;
    padding-bottom: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___7Ukin > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___7Ukin > :global(.__wab_flex-container) > *,
  .freeBox___7Ukin > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___7Ukin > :global(.__wab_flex-container) > picture > img,
  .freeBox___7Ukin
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__sOKjm {
  display: flex;
  flex-direction: column;
}
.freeBox__sOKjm > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__sOKjm > :global(.__wab_flex-container) > *,
.freeBox__sOKjm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sOKjm > :global(.__wab_flex-container) > picture > img,
.freeBox__sOKjm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__m4C8I {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__m4C8I > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__m4C8I > :global(.__wab_flex-container) > *,
.freeBox__m4C8I > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__m4C8I > :global(.__wab_flex-container) > picture > img,
.freeBox__m4C8I
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text___2Tj7G {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  color: #ffffff;
  text-align: center;
}
.text___3Pl5X {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  white-space: pre-wrap;
  position: relative;
  color: #cccccc;
  height: auto;
  text-align: center;
}
.freeBox__uenBo {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__uenBo > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__uenBo > :global(.__wab_flex-container) > *,
.freeBox__uenBo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uenBo > :global(.__wab_flex-container) > picture > img,
.freeBox__uenBo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__uenBo {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__uenBo > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__uenBo > :global(.__wab_flex-container) > *,
  .freeBox__uenBo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__uenBo > :global(.__wab_flex-container) > picture > img,
  .freeBox__uenBo
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.text__ymqfh {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 1;
  color: #cccccc;
  height: auto;
  white-space: pre-wrap;
  text-align: center;
}
.svg__jDel1 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__nadE {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.emojiValueProps:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.columns {
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  max-width: 1024px;
  flex-direction: row;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 32px;
}
.columns > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-wrap: nowrap;
  flex-direction: row;
  min-width: 0;
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 12px);
    height: calc(100% + 12px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 12px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__a4YNj {
  display: flex;
  position: relative;
  flex-direction: column;
}
.value__ggoi:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text__smEB {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  color: #ffffff;
  width: 100%;
  min-width: 0;
}
.text__eNtq {
  color: #cccccc;
  width: 100%;
  min-width: 0;
}
.svg__r8Lk2 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  min-width: 0;
  min-height: 0;
}
.button__s3LXc:global(.__wab_instance) {
  position: relative;
}
.svg__n6Y2 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__pZdKc {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__f0F8H {
  display: flex;
  position: relative;
  flex-direction: column;
}
.value__mePzj:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text__d4Uw {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  color: #ffffff;
  width: 100%;
  min-width: 0;
}
.text___7Bu {
  color: #cccccc;
  width: 100%;
  min-width: 0;
}
.svg__izmDd {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  min-width: 0;
  min-height: 0;
}
.button__veMbb:global(.__wab_instance) {
  position: relative;
}
.svg___0Ucz2 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__gHwwS {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__abVAt {
  display: flex;
  position: relative;
  flex-direction: column;
}
.value__nVty:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .value__nVty:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.text___9ZUhq {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  color: #ffffff;
  width: 100%;
  min-width: 0;
}
.text__uj7Ri {
  color: #cccccc;
  width: 100%;
  min-width: 0;
}
.svg__eByLq {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  min-width: 0;
  min-height: 0;
}
.button__eDjk:global(.__wab_instance) {
  position: relative;
}
.svg__w4FX {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ioQw2 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.section__bAgD {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 32px;
  padding-top: 32px;
  position: relative;
  background: #f2f2f7;
}
.container42 {
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
  padding: 0px 32px;
}
.freeBox__fVhAb {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.text___23CTx {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  position: relative;
  left: auto;
  top: auto;
  height: auto;
}
.button__b8ALo:global(.__wab_instance) {
  position: relative;
}
.svg__akFwB {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__af2Of {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.container5 {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: auto;
  width: 100%;
  align-items: center;
  min-width: 0;
}
.freeBox__iKbpB {
  display: flex;
  position: relative;
  flex-direction: row;
  padding: 32px;
}
.freeBox__iKbpB > :global(.__wab_flex-container) {
  flex-direction: row;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__iKbpB > :global(.__wab_flex-container) > *,
.freeBox__iKbpB > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iKbpB > :global(.__wab_flex-container) > picture > img,
.freeBox__iKbpB
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.svg__kv5Wb {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___6QGe9 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text___3CCta {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__qbVxa {
  width: 100%;
  height: auto;
  color: var(--token-IoA6-K9UXD1X);
  text-align: left;
  min-width: 0;
}
.rating__alW6V:global(.__wab_instance) {
  position: relative;
}
.productCard__qSqm8:global(.__wab_instance) {
  position: relative;
}
.svg___9SlZr {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__mwYpE {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__qu4F1 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__pm32W {
  width: 100%;
  height: auto;
  color: var(--token-IoA6-K9UXD1X);
  text-align: left;
  min-width: 0;
}
.rating__fa5Pt:global(.__wab_instance) {
  position: relative;
}
.productCard___5Rtai:global(.__wab_instance) {
  position: relative;
}
.svg__vXdBv {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__oiqVt {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__mx2EP {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__a3Jo5 {
  width: 100%;
  height: auto;
  color: var(--token-IoA6-K9UXD1X);
  text-align: left;
  min-width: 0;
}
.rating__kIr0V:global(.__wab_instance) {
  position: relative;
}
.productCard__abaOv:global(.__wab_instance) {
  position: relative;
}
.svg__zihFg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__g3WxC {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__bVhIm {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__sa0TP {
  width: 100%;
  height: auto;
  color: var(--token-IoA6-K9UXD1X);
  text-align: left;
  min-width: 0;
}
.rating__syaKg:global(.__wab_instance) {
  position: relative;
}
.productCard___2ENvx:global(.__wab_instance) {
  position: relative;
}
.svg__c6T2U {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__dYOv8 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__mSzHw {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__pnaId {
  width: 100%;
  height: auto;
  color: var(--token-IoA6-K9UXD1X);
  text-align: left;
  min-width: 0;
}
.rating___65JKp:global(.__wab_instance) {
  position: relative;
}
.productCard__nKwiD:global(.__wab_instance) {
  position: relative;
}
.svg__tr9Zy {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__hi67G {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__e3DOv {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__gn0R6 {
  width: 100%;
  height: auto;
  text-align: left;
  color: var(--token-IoA6-K9UXD1X);
  min-width: 0;
}
.rating__nzNvm:global(.__wab_instance) {
  position: relative;
}
.section__r4M4P {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container6 {
  max-width: 1366px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.container6 > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.container6 > :global(.__wab_flex-container) > *,
.container6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container6 > :global(.__wab_flex-container) > picture > img,
.container6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .container6 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container6 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container6 > :global(.__wab_flex-container) > *,
  .container6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .container6 > :global(.__wab_flex-container) > picture > img,
  .container6
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__uEefu {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__uEefu > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__uEefu > :global(.__wab_flex-container) > *,
.freeBox__uEefu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uEefu > :global(.__wab_flex-container) > picture > img,
.freeBox__uEefu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__fy1Fe {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  left: auto;
  top: auto;
  padding: 8px 12px;
}
.button__ozDyq:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__raZjx {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__vcHvR {
  height: auto;
}
.svg__r4Q4V {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__gr4Kr:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__vvrMo {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__vQxgw {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__mPbg1:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__yhZa {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__rhFw2 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__orU0I:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__xvUyy {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__huxjr {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__drAh:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__fZpXu {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__b58L {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__vjg4L:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg___9Rv73 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__pNvAu {
  height: auto;
}
.svg__q6Poh {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__yvZli {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__yvZli > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__yvZli > :global(.__wab_flex-container) > *,
.freeBox__yvZli > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yvZli > :global(.__wab_flex-container) > picture > img,
.freeBox__yvZli
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yvZli > :global(.__wab_flex-container) {
    justify-content: center;
  }
}
.productCard___9Nlfg:global(.__wab_instance) {
  position: relative;
}
.svg__fyoS2 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__y5JjX {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__rMf3 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__owAQ {
  width: 100%;
  height: auto;
  color: var(--token-IoA6-K9UXD1X);
  text-align: left;
  min-width: 0;
}
.rating__gjUQ:global(.__wab_instance) {
  position: relative;
}
.productCard__pH1YO:global(.__wab_instance) {
  position: relative;
}
.svg__hk2Kl {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__e4Zmr {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__kyubl {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__rQ1O {
  width: 100%;
  height: auto;
  color: var(--token-IoA6-K9UXD1X);
  text-align: left;
  min-width: 0;
}
.rating__uDvk:global(.__wab_instance) {
  position: relative;
}
.productCard__vtnwM:global(.__wab_instance) {
  position: relative;
}
.svg__dUqbv {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ag4KB {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__f0Ezc {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__i5Ht0 {
  width: 100%;
  height: auto;
  color: var(--token-IoA6-K9UXD1X);
  text-align: left;
  min-width: 0;
}
.rating__k2HRb:global(.__wab_instance) {
  position: relative;
}
.productCard___400Xz:global(.__wab_instance) {
  position: relative;
}
.svg__yp7FI {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__qMrmH {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__aNh0N {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__dLlhg {
  width: 100%;
  height: auto;
  color: var(--token-IoA6-K9UXD1X);
  text-align: left;
  min-width: 0;
}
.rating__ov58R:global(.__wab_instance) {
  position: relative;
}
.productCard__nTc3V:global(.__wab_instance) {
  position: relative;
}
.svg___4N54H {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__lMhX {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__ijWa {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text___845Gj {
  width: 100%;
  height: auto;
  color: var(--token-IoA6-K9UXD1X);
  text-align: left;
  min-width: 0;
}
.rating__c4GX6:global(.__wab_instance) {
  position: relative;
}
.productCard__jhsmp:global(.__wab_instance) {
  position: relative;
}
.svg__cuqzE {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__wqUuJ {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__r729 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text___9YiYb {
  width: 100%;
  height: auto;
  color: var(--token-IoA6-K9UXD1X);
  text-align: left;
  min-width: 0;
}
.rating__g2Gmm:global(.__wab_instance) {
  position: relative;
}
.productCard___8Mtj2:global(.__wab_instance) {
  position: relative;
}
.svg__xDtNd {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ggY5T {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__jjO1G {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__v9Kj {
  width: 100%;
  height: auto;
  color: var(--token-IoA6-K9UXD1X);
  text-align: left;
  min-width: 0;
}
.rating__e3G5Z:global(.__wab_instance) {
  position: relative;
}
.productCard__x0Jhn:global(.__wab_instance) {
  position: relative;
}
.svg__bPnUu {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__cUsKn {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__uGv9O {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__tyw7Z {
  width: 100%;
  height: auto;
  color: var(--token-IoA6-K9UXD1X);
  text-align: left;
  min-width: 0;
}
.rating__nKo4S:global(.__wab_instance) {
  position: relative;
}
.productCard__wExf9:global(.__wab_instance) {
  position: relative;
}
.svg__zaFwd {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__f5Lb {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text___7IvKz {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__pMlO {
  width: 100%;
  height: auto;
  color: var(--token-IoA6-K9UXD1X);
  text-align: left;
  min-width: 0;
}
.rating__ozXNa:global(.__wab_instance) {
  position: relative;
}
.productCard__g2Zxb:global(.__wab_instance) {
  position: relative;
}
.svg___5LRb0 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__rhZf4 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__i3QEc {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__fVcd {
  width: 100%;
  height: auto;
  color: var(--token-IoA6-K9UXD1X);
  text-align: left;
  min-width: 0;
}
.rating___37Uil:global(.__wab_instance) {
  position: relative;
}
.productCard__lrf7A:global(.__wab_instance) {
  position: relative;
}
.svg__wzOa {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__nVoEh {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__ty2V {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text___0Hd6M {
  width: 100%;
  height: auto;
  color: var(--token-IoA6-K9UXD1X);
  text-align: left;
  min-width: 0;
}
.rating__ezeWv:global(.__wab_instance) {
  position: relative;
}
.productCard__qszEa:global(.__wab_instance) {
  position: relative;
}
.svg__pQzA2 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__jxEgh {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__xcNda {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__emu4K {
  width: 100%;
  height: auto;
  color: var(--token-IoA6-K9UXD1X);
  text-align: left;
  min-width: 0;
}
.rating__pk8Pi:global(.__wab_instance) {
  position: relative;
}
.section___6Wxr9 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#00000080, #00000080),
    url("https://images.unsplash.com/photo-1552346154-21d32810aba3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2850&q=80")
      left 50% top 50% / cover;
}
.container434 {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.container434 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.container434 > :global(.__wab_flex-container) > *,
.container434 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container434 > :global(.__wab_flex-container) > picture > img,
.container434
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.value__nfiUj:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text__sUc5F {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  width: 100%;
  height: auto;
  color: #ffffff;
  min-width: 0;
}
.text__g0UWx {
  color: #cccccc;
  width: 100%;
  height: auto;
  min-width: 0;
}
.svg___7V19 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  min-width: 0;
  min-height: 0;
}
.button__cLYs:global(.__wab_instance) {
  position: relative;
}
.svg__wueLx {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__nTwqs {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.section__nUpFi {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f2f2f7;
}
.container433 {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.container433 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  --plsmc-rc-col-gap: 32px;
}
.container433 > :global(.__wab_flex-container) > *,
.container433 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container433 > :global(.__wab_flex-container) > picture > img,
.container433
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.container433 > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.container433 > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.container433 > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.container433 > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .container433 {
    display: flex;
    flex-direction: row;
    padding-top: 64px;
    padding-bottom: 64px;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container433 > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container433 > :global(.__wab_flex-container) > *,
  .container433 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .container433 > :global(.__wab_flex-container) > picture > img,
  .container433
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 32px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container433 > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__pz0Lw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.value__fNemx:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .value__fNemx:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.text__qvmPa {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  width: 100%;
  min-width: 0;
}
.text__iOktd {
  width: 100%;
  color: #666666;
  height: auto;
  min-width: 0;
}
.button__fRv9E:global(.__wab_instance) {
  position: relative;
}
.svg__sZaBb {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__lqmA9 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__hKztS {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.button___9SfzH:global(.__wab_instance) {
  position: relative;
}
.svg__t20TD {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___1A4UI {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__c6Rcz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.value__zanUk:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .value__zanUk:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.text__vxftW {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  width: 100%;
  min-width: 0;
}
.text__cFi7A {
  width: 100%;
  color: #666666;
  height: auto;
  min-width: 0;
}
.button__iIurj:global(.__wab_instance) {
  position: relative;
}
.svg___4J2Ay {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__hswFm {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__iPllT {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.button__qgX9A:global(.__wab_instance) {
  position: relative;
}
.svg__xyHYz {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__kE6On {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column___9Mte1 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.value__zqygm:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .value__zqygm:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.text__by3Id {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  width: 100%;
  min-width: 0;
}
.text___4FvJ {
  width: 100%;
  color: #666666;
  height: auto;
  min-width: 0;
}
.button___9Ss0F:global(.__wab_instance) {
  position: relative;
}
.svg___7GkFs {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__dDjmg {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__lMad {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.button__mWuFk:global(.__wab_instance) {
  position: relative;
}
.svg__mtp75 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__be5O7 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__hyUem {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.value__hXiPp:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .value__hXiPp:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.text__xo7Ar {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  width: 100%;
  min-width: 0;
}
.text__n5S5Y {
  width: 100%;
  color: #666666;
  height: auto;
  min-width: 0;
}
.button__bVpD:global(.__wab_instance) {
  position: relative;
}
.svg__pWlKm {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__mmc6A {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__hgyUy {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.button__zbhPy:global(.__wab_instance) {
  position: relative;
}
.svg__lyUbJ {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__l8GI2 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.footer:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
