.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 32px;
  border-top: 1px solid #e5e5ea;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    min-width: 0;
    padding: 0px;
  }
}
.freeBox__l4Ogf {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.freeBox__l4Ogf > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__l4Ogf > :global(.__wab_flex-container) > *,
.freeBox__l4Ogf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__l4Ogf > :global(.__wab_flex-container) > picture > img,
.freeBox__l4Ogf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__l4Ogf {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__l4Ogf > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__l4Ogf > :global(.__wab_flex-container) > *,
  .freeBox__l4Ogf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__l4Ogf > :global(.__wab_flex-container) > picture > img,
  .freeBox__l4Ogf
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 64px;
  }
}
.freeBox__lgLW {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__lgLW > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__lgLW > :global(.__wab_flex-container) > *,
.freeBox__lgLW > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lgLW > :global(.__wab_flex-container) > picture > img,
.freeBox__lgLW
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__brMr4 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre;
  height: auto;
}
.text___79Crt {
  height: auto;
  width: 100%;
  white-space: pre-wrap;
  min-width: 0;
}
.textInput:global(.__wab_instance) {
  position: relative;
}
.svg__vU0NU {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg___73SBi {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__nQI5:global(.__wab_instance) {
  position: relative;
}
.svg__uDuSi {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__j3TWp {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__nBaYn {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__nBaYn > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__nBaYn > :global(.__wab_flex-container) > *,
.freeBox__nBaYn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nBaYn > :global(.__wab_flex-container) > picture > img,
.freeBox__nBaYn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__bIrhu {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre;
  height: auto;
  padding-left: 12px;
  padding-right: 12px;
}
.freeBox__jyyfd {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__jyyfd > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__jyyfd > :global(.__wab_flex-container) > *,
.freeBox__jyyfd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jyyfd > :global(.__wab_flex-container) > picture > img,
.freeBox__jyyfd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.svg__kaSjm {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.svg__aiuG {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__wyGcX:global(.__wab_instance) {
  position: relative;
}
.svg__jtC3 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.text__kJxhy {
  height: auto;
}
.svg__nCxl {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__fcci5:global(.__wab_instance) {
  position: relative;
}
.svg__buo0M {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.text___2MSdK {
  height: auto;
}
.svg__ryXnj {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__r9Sd9 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__r9Sd9 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__r9Sd9 > :global(.__wab_flex-container) > *,
.freeBox__r9Sd9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__r9Sd9 > :global(.__wab_flex-container) > picture > img,
.freeBox__r9Sd9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__mhTg0 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre;
  height: auto;
  padding-left: 12px;
  padding-right: 12px;
}
.freeBox__j3MR {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.freeBox__bThQg {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__bThQg > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__bThQg > :global(.__wab_flex-container) > *,
.freeBox__bThQg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bThQg > :global(.__wab_flex-container) > picture > img,
.freeBox__bThQg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.svg__ncTDu {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__tbaPx {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__iA8JW:global(.__wab_instance) {
  position: relative;
}
.svg__llJb2 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__y9PaA {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button___63JzD:global(.__wab_instance) {
  position: relative;
}
.svg__gGoyb {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__hzBai {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__hZ4Mw:global(.__wab_instance) {
  position: relative;
}
.svg___9TQz {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__lJtP5 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__jH0G {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__jH0G > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__jH0G > :global(.__wab_flex-container) > *,
.freeBox__jH0G > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jH0G > :global(.__wab_flex-container) > picture > img,
.freeBox__jH0G
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.button___19VJc:global(.__wab_instance) {
  position: relative;
}
.svg__yjk7J {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__nHzwH {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button___97CSu:global(.__wab_instance) {
  position: relative;
}
.svg___1IHij {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___03PrF {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button___78VnC:global(.__wab_instance) {
  position: relative;
}
.svg___9Fkof {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__nwcgr {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.copyrightSocialLanguage:global(.__wab_instance) {
  position: relative;
}
