.root {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  min-width: 0;
  padding: 32px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 32px;
}
.freeBox___2X3I {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox___2X3I > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox___2X3I > :global(.__wab_flex-container) > *,
.freeBox___2X3I > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___2X3I > :global(.__wab_flex-container) > picture > img,
.freeBox___2X3I
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox__qmys5 {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__qmys5 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__qmys5 > :global(.__wab_flex-container) > *,
.freeBox__qmys5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qmys5 > :global(.__wab_flex-container) > picture > img,
.freeBox__qmys5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.text {
  font-weight: 400;
  white-space: pre-wrap;
  color: #666666;
}
.freeBox__plOs8 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.svg__q60K {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___7PkAq {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__sAdDu:global(.__wab_instance) {
  position: relative;
}
.svg__hfm0 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___85Xr7 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__fnWgp:global(.__wab_instance) {
  position: relative;
}
.svg__aYoVm {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__a9Xe5 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__yhVjn:global(.__wab_instance) {
  position: relative;
}
.svg__a1Cu7 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__xuGpS {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
